/* Reminder ↓ */

/* :root {
  --color-background: #8E63F6;
  --color-background-gradient: linear-gradient(0deg, rgba(136, 94, 242, 1) 0%, rgba(155, 113, 255, 1) 35%);
  --color-dark-accent: #865EE6;
  --color-font: #FFFFFF;
  --color-button: #FF87B5;
  --color-button-accent: #CB5A85;
  --color-star: #FABB53;
  --text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  } */

.App {
  height: 100vh;
}