*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --color-background: #e5eaf5;
  --color-font: #494d5f;
  --color-warning: #d83694;
  --color-accent: #d0bdf4;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}