/* Reminder ↓ */

/* :root {
  --color-background: rgb(155, 113, 255);
  --color-background-gradient: linear-gradient(0deg, rgba(136, 94, 242, 1) 0%, rgba(155, 113, 255, 1) 35%);
  --color-dark-accent: rgba(138, 98, 231 , 0.72);
  --color-font: rgb(255, 255, 255);
  --color-button: rgb(255, 135, 181);
  --color-button-accent: rgb(203, 90, 133);
  --color-star: rgb(250, 187, 83);
  --text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
} */

.QuestionBoolean {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
    min-height: 100vh;
    background: var(--color-background);
    background: var(--color-background-gradient);
}

.QuestionBoolean-question {
    margin-top: 70px;
    margin-bottom: 70px;
    font-weight: 700;
    text-shadow: var(--text-shadow);
}

.QuestionBoolean-answer-button {
    font-weight: 700;
    background-color: var(--color-dark-accent);
    padding: 26px;
    border-radius: 50px;
    margin-bottom: 13px;
    width: 100%;
}