/* Reminder ↓ */

/* :root {
  --color-background: rgb(155, 113, 255);
  --color-background-gradient: linear-gradient(0deg, rgba(136, 94, 242, 1) 0%, rgba(155, 113, 255, 1) 35%);
  --color-dark-accent: rgba(138, 98, 231 , 0.72);
  --color-font: rgb(255, 255, 255);
  --color-button: rgb(255, 135, 181);
  --color-button-accent: rgb(203, 90, 133);
  --color-star: rgb(250, 187, 83);
  --text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
} */

.Welcome {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
    min-height: 100vh;
    background: var(--color-background);
    background: var(--color-background-gradient);
}

.Welcome-title {
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 800;
    text-shadow: var(--text-shadow);
}

.Welcome-instruction {
    font-weight: 700;
    text-shadow: var(--text-shadow);
}

.Welcome-difficulty-button-container {
    margin-top: 25px;
    width: 100%;
}

.Welcome-difficulty-button {
    display: block;
    font-weight: 700;
    background-color: var(--color-dark-accent);
    padding: 26px;
    border-radius: 50px;
    margin-bottom: 13px;
    width: 100%;
}

/* Remove the circles form the radio buttons */

input[type='radio'] {
    display: none;
}

.Welcome-difficulty-star {
    color: var(--color-star);
    font-size: 2rem;
}

.Welcome-play-button {
    display: block;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-font);
    background-color: var(--color-button);
    padding: 26px;
    border-radius: 50px;
    margin-bottom: 13px;
    width: 100%;
    box-shadow: 0px 10px 5px var(--color-button-accent);
}

@media (min-width: 600px) {
    .Welcome {
        width: 500px;
    }
}

@media (min-width: 800px) {
    .Welcome {
        width: 600px;
    }
}

@media (max-width: 350px) {
    .Welcome {
        font-size: 1.2rem;
    }
}

@media (max-width: 260px) {
    .Welcome {
        font-size: 1rem;
    }
}